---
import { ComponentProps } from "lib/component-props";
import Placeholder from "components/system/Placeholder.astro";

const props : ComponentProps = Astro.props.route;
const id = props.params.RenderingIdentifier;

---
<div class={`component eyebrow	${props.params.styles.trimEnd()}`} id={id ? id : undefined}>
  <div class={`container container-${props.params?.ContainerWidth?.toLowerCase()}-fluid`}>
    <div class="row">
      <div class="col col-placeholder">
        <Placeholder name="eyebrow-left" rendering={props.rendering} />
        <Placeholder name="eyebrow-right" rendering={props.rendering} />
      </div>
    </div>
  </div>
</div>