<label class="theme-switcher">
  <label for="theme-switcher" class="d-none"> Switch theme </label>
  <input name="theme-switcher" id="theme-switcher" type="checkbox"/>
  <span class="theme-switcher-slider"></span>
</label>

<script>
  let isSystemDark = false;
  const themeSwitcher = document.getElementById("theme-switcher");
  const mq = window.matchMedia("(prefers-color-scheme: dark)");

  if (mq.matches) {
    changeTheme(true);
  }

  mq.addEventListener("change", (evt) => {
    changeTheme(evt.matches);
  });

  function changeTheme(dark: boolean) {
    isSystemDark = dark;
    themeSwitcher.checked = dark;
    document.body.classList.toggle("dark", dark);
  }
  function setIsSystemDark(event: any) {
    changeTheme(!isSystemDark);
  }

  themeSwitcher?.addEventListener("change", setIsSystemDark);
</script>
