---
import Placeholder from "components/system/Placeholder.astro";
import { ComponentProps } from "lib/component-props";

const id = Astro.props.id;
const props: ComponentProps = Astro.props.route;
---

<div class={`component header ${props.params.styles.trimEnd()}`} id={id ? id : undefined}>
  <div class={`container container-${props.params?.ContainerWidth?.toLowerCase()}-fluid`}>
    <div class="row align-items-center">
      <div class="col-auto">
        <Placeholder name="header-left" rendering={props.rendering} />
      </div>
      <div class="col">
        <Placeholder name="header-right" rendering={props.rendering} />
      </div>
    </div>
  </div>
</div>