---
import Placeholder from "components/system/Placeholder.astro";
import { ComponentProps } from "lib/component-props";
import { AstroImage, ImageField } from "@astro-sitecore-jss/astro-sitecore-jss";

export type WithImageProps = ComponentProps & {
  fields: {
    LogoImage: ImageField;
  };
};

const id = Astro.props.id;
const props: WithImageProps = Astro.props.route;
---

<div class={`component header ${props.params.styles.trimEnd()}`} id={id ? id : undefined}>
  <div class={`container container-${props.params?.ContainerWidth?.toLowerCase()}-fluid`}>
    <div class="row align-items-center">
      <div class="col-auto">
        <AstroImage field={props.fields.LogoImage} />
      </div>
      <div class="col">
        <Placeholder name="header-right" rendering={props.rendering} />
      </div>
    </div>
  </div>
</div>