---
import {
  AstroImage,
  Text
} from "@astro-sitecore-jss/astro-sitecore-jss";
import { ArticleListItemProps, ArticleListComponentProps } from "components/PageContent/ArticleList.astro"

const props: ArticleListComponentProps = Astro.props.route;
const id = props.params.RenderingIdentifier;

const getNewsItems = (items: ArticleListItemProps[], numOfItems: number) => {
  return items
    ?.filter((item) => item.name !== "Data" && item.name !== "Authors")
    .slice(0, numOfItems || undefined);
};

const newsItems = getNewsItems(props.fields?.items, parseInt(props.params?.NumberOfItems));
---

<div
  class={`component component-spaced article-list ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container container-wide">
    <div class="article-list-grid">
      {newsItems?.map((item) => (
        <div class="article-grid-item">
          <a href={item.url} class="wrapper-link">
            <AstroImage field={item.fields.Thumbnail} />
            <h3 class="fs-4 mt-3">
              <Text field={item.fields.Title}></Text>
            </h3>
          </a>
        </div>
      ))}
    </div>
  </div>
</div>
