---
import { AstroImage, ImageField } from "@astro-sitecore-jss/astro-sitecore-jss";

const image: ImageField = Astro.props.image;
const inverted: boolean = Astro.props.inverted;
---

<div class={`icon-accent ${inverted ? "inverted" : ""}`}>
  <AstroImage field={image} />
</div>
