---
import {
  Text,
  RichText
} from "@astro-sitecore-jss/astro-sitecore-jss";
import { QuestionItemProps } from "components/PageContent/Questions.astro";

const item: QuestionItemProps = Astro.props.item;
---

<div class="question-item">
  <button
    class={`button-clear-appearance`}
  >
    <h3>
      <Text field={item.fields.Question} />
    </h3>
    <span class="icon-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width={23}
        fill="currentColor"
      >
        <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        ></path>
      </svg>
    </span>
  </button>
  <div class={`answer d-none`}>
    <RichText field={item.fields.Answer} />
  </div>
</div>

<script>
  function setIsExpanded(event: any){
    const toggleButton = event.currentTarget as Element;
    toggleButton.classList.toggle("expanded");

    const parentQuestion = toggleButton.closest(".question-item");
    const answer = parentQuestion?.querySelector(".answer");
    answer?.classList.toggle("d-block");
    answer?.classList.toggle("d-none");
  }

  const toggleButtons = document.querySelectorAll('.questions .button-clear-appearance');
  toggleButtons.forEach((el) => {
    el.addEventListener('click', setIsExpanded);
  });
</script>